@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald Bold", sans-serif;
  @apply uppercase;
}

@font-face {
  font-family: "Montserrat";
  src: url("/src/assets/fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat Medium";
  src: url("/src/assets/fonts/Montserrat/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat Semibold";
  src: url("/src/assets/fonts/Montserrat/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat Bold";
  src: url("/src/assets/fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Oswald";
  src: url("/src/assets/fonts/Oswald/Oswald-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Oswald Medium";
  src: url("/src/assets/fonts/Oswald/Oswald-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Oswald Semibold";
  src: url("/src/assets/fonts/Oswald/Oswald-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Oswald Bold";
  src: url("/src/assets/fonts/Oswald/Oswald-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Caviar Dreams";
  src: url("/src/assets/fonts/Caviar-Dreams/CaviarDreams.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Caviar Dreams Bold";
  src: url("/src/assets/fonts/Caviar-Dreams/CaviarDreams_Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
